## git config --local include.path ../.gitconfig

[filter "update-dtx"]
  clean = export filename=$(basename "%f") && sed -b -r -z -e"s:\\(%/GitFileInfo[^\\\\n]*\\\\n\\)::g" -e"s:\\(%\\\\s*\\\\\\\\iffalse\\)\\([^\\\\n]*\\\\n\\)\\(%\\\\s*$filename[^\\\\n]*\\\\n\\)?:\\\\1\\ meta-comment\\\\n%/GitFileInfo=$filename\\\\n:" -e"s:\\\\\\\\ProvidesFile\\\\{$filename\\\\}[^\\\\n]*\\\\n::g" -e"s:%\\<\\\\*dtx\\>\\\\n:%\\<\\*dtx\\>\\\\n\\\\\\\\ProvidesFile{$filename}[$(date '+%Y/%m/%d')]\\\\n:" 

[filter "update-copyright"]
  clean = sed -b -r "s/\\(.*Copyright.*Hanisch.*,\\)\\\\s*\\([[:digit:]]{4}\\)\\(-[[:digit:]]{4}\\)?\\(.*\\)/\\\\1' '\\\\2-$(date '+%Y')\\\\4/g"
