## binaries folder
development/
release*/
temp/
## auxiliary files
*-temp.*
*.acn
*.acr
*.alg
*.aux
*.bak
*.bbl
*.bcf
*.bib
*.blg
*.clo
*.cls
*.dvi
*.glg
*.glo
*.gls
*.glsdefs
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nav
*.out
*.pdf
*.ps
*.run.xml
*.slg
*.slo
*.sls
*.snm
*.sty
*.synctex.gz*
*.tdo
*.toc
*.tut
*.wrt
*.xdy
*.xlg
source/install/*.bxt
source/install/*.mtx
source/install/*.sh
source/install/*.tex
## include test files
!test/*.cls
!test/*.sty
!test/*.pdf
!test/CD/**
## include files temporary
