## binaries folder
development/
release/
temp/
## auxiliary files
*-temp.*
*.acn
*.acr
*.alg
*.aux
*.bak
*.bbl
*.bcf
*.blg
*.cls
*.glg
*.glo
*.gls
*.glsdefs
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.out
*.pdf
*.run.xml
*.slg
*.slo
*.sls
*.sty
*.synctex.gz
*.tdo
*.toc
*.tut
*.xdy
